{% extends 'bsct/base.html' %}
 
{% load bscttags %}

{% block BSCT_TITLE %}
    Détails : {{ object|get_class_name }} <em>{{object}}</em>
{% endblock %}

{% block BSCT_CONTENT %}

    {% block BSCT_DETAIL_FIELDS %}

        <table class = 'table table-condensed' >
            {% with object|get_detail as d %}

                {% for field,value in d.items %}
                    <tr>
                        <td>
                            {% block BSCT_DETAIL_FIELDS_FIELD %}
                                <strong> {{ field }} </b>
                            {% endblock %}
                        </td>

                        <td>
                            {% block BSCT_DETAIL_FIELDS_VALUE %}
                                {{ value|safe }}
                            {% endblock %}
                        </td>
                    </tr>
                {% endfor %}

            {% endwith %}
        </table>

        {% block BSCT_DETAIL_FIELDS_EXTRA %}
        {% endblock %}

    {% endblock %}


    {% block BSCT_DETAIL_ACTIONS %}

        {% block BSCT_DETAIL_ACTIONS_EDIT %}
            {% if object.get_update_url is not None %}
                <a 
                    class = 'btn btn-info'
                    href  = '{{object.get_update_url}}'
                >
                    Modifier
                </a>
            {% endif %}
        {% endblock %}

        {% block BSCT_DETAIL_ACTIONS_DELETE %}
            {% if object.get_delete_url is not None %}
                <a 
                    class = 'btn btn-warning'
                    href  = '{{object.get_delete_url}}'
                >
                    Supprimer
                </a>
            {% endif %}
        {% endblock %}

        {% block BSCT_DETAIL_ACTIONS_LIST %}

            {% if object.get_list_url is not None %}
                <a 
                    class = 'btn btn-info'
                    href  = '{{ object.get_list_url }}'
                >
                    Liste
                </a>
            {% endif %}

        {% endblock %}

        {% block BSCT_DETAIL_ACTIONS_EXTRA %}
        {% endblock %}

    {% endblock %}

{% endblock %}
