{% extends 'bsct/base.html' %}
 
{% load bscttags %}

{% block BSCT_TITLE %}
    Création/Modification : {% get_verbose_name form.instance %}
{% endblock %}

{% block BSCT_CONTENT %}

<form 
    action  = ''
    method  = 'post' 
    class   = 'form-inline' 
    enctype = 'multipart/form-data' 
>

    {% csrf_token %}

    <div class = 'well' >

        {% block BSCT_FORM_FIELDS %}
        {{ form.as_p }}
        {% endblock %}

    </div>

    <div class='actions'>
        {% block BSCT_FORM_ACTIONS %}
        <input
            value = 'Sauvegarder'
            type  = 'submit' 
            class = 'btn btn-success' 
        />

        {% if form.instance.get_list_url is not None %}
            <a 
                class = 'btn btn-default'
                href  = '{{form.instance.get_list_url}}'
            >
                Retour
            </a>
        {% endif %}
        {% endblock %}
    </div>

</form>

{% endblock %}
