{% extends 'bsct/base.html' %}

{% load bscttags %}

{% block BSCT_TITLE %}
    Liste : {{model}}
{% endblock %}

{% block BSCT_CONTENT %}

    {% block BSCT_LIST_ITEMS %}
        <table id = "table" class = 'table table-striped'>

            <thead>
                {% block BSCT_LIST_ITEMS_HEADER %}
                    {% for key, value in headers.items %}
                        <th> {{ value }} </th>
                    {% endfor %}
                    {% block BSCT_LIST_HEADER_EXTRA %}{% endblock %}
                    <th> Action </th>
                {% endblock %}
            </thead>

            {% block BSCT_LIST_ITEMS_ROWS %}
                {% for object in object_list %}
                
                    <tr>
                        {% with object|get_list_detail as d %}

                            {% for key, value in headers.items %}
                                <td>
                                    {% block BSCT_DETAIL_FIELDS_VALUE %}
                                        {{ d|dict_key:key|safe }}
                                    {% endblock %}
                                </td>
                            {% endfor %}
                        {% endwith %}

                        {% block BSCT_LIST_ITEMS_EXTRA %}
                        {% endblock %}

                        <td>
                            {% block BSCT_LIST_ITEMS_ACTIONS %}
                                {% if object.get_absolute_url is not None %}
                                    <a
                                        class = 'btn btn-default'
                                        href  = '{{ object.get_absolute_url }}'
                                        target="_blank"
                                    >
                                        Détails
                                    </a>
                                {% endif %}
                            {% endblock %}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}

        </table>
    {% endblock %}


    {% block BSCT_LIST_CREATE_LINK %}
        {% if object_list.model.get_create_url is not None %}
            <div>
                <a
                    class = 'btn btn-primary'
                    href  = '{{object_list.model.get_create_url }}'
                >
                    Créer un {% get_verbose_name object_list.model %} 
                </a>
            </div>
        {% endif %}
    {% endblock %}

    {% block BSCT_BOTTON_ACTIONS %}
        <div class= "text-end">
            <a 
                class = 'btn btn-info'
                href  = '{% url "configuration_delete_file" %}'
            >
                Modifier
            </a>
            
            <a 
                
                class = 'btn btn-danger'
                href  = '{% url "configuration_delete_file" %}'
            >
                Supprimer
            </a>
        </div>

    {% endblock %}
    
    {% block BSCT_LIST_PAGINATION %}
        {% include 'bsct/plain/paginator.html' %}
    {% endblock %}

{% endblock %}

{% block bottom %}
    <script type = "text/javascript">

        $(function () {
            $('#delete').submit(function(event) {
            event.preventDefault();

            selected_values = [];
            table = $('#table').DataTable(); // Get datatable object
            selected = table.rows( { selected: true } ).data(); // Get selected rows
            for (i = 0; i < selected.length; i++) { // For each selected row (< selected.length : last element's index)
                selected_values.push(selected[i]); // Push the value of the first column (model name)
            }
            // Get the last part of the current url
            current_url = window.location.pathname.replace("/", "").replace("/", "")

            var actionUrl = $(this).attr('action');
            var formData = $(this).serialize();


            $.ajax({
                url: actionUrl,
                method: 'POST',
                dataType: 'json',
                data: {
                'current_url': current_url,
                'selected': JSON.stringify(selected_values),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
            }).done(function() {
                location.href = "{{ request.get_full_path|safe }}";
            }).fail(function() {
                location.href = "{{ request.get_full_path|safe }}";
            });
            });
        });

        {% load static %}

        $(document).ready(function(){
            $('#table').DataTable( {
            dom: 'lBfrtip',
            buttons: [
                'copyHtml5', 'excelHtml5', 'pdfHtml5', 'selectAll', 'selectNone'
            ],
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10', '25', '50', 'toutes les' ]
            ],
            select: { /* allows you to select - Permet de faire la sélection */
                style: 'multi' /* Select Mode : multi, https://datatables.net/extensions/select/ */
            },
            language: {
                url: "{% static 'dataTables.french.json' %}"
            },
            order: [[2, 'desc']]
            } );
        });
    </script>
{% endblock %}
